@charset "EUC-KR";
.aReview{
	width: 800px;
	box-shadow: 10px 10px 10px black;
	border:black solid 2px;
	border-radius:20px;/*모서리 깎기*/
	margin: 20px;
}

.aReview .td1{
	width: 200px;
	
}
.aReview .td1 img{
	max-width:150px;
	
}
.aReview .td2{
	width:100px;
	padding:10px;
	font-family: "궁서";
	font-size: 16px;
}
.aReview .td3{
	padding:10px;
	font-family: "배달의민족 주아";
	
}
.aReview .td4{
	padding:10px;
	font-family: "돋움체";
	
}